@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.bg-home-frame-1 {
  @apply bg-frame-1 bg-contain bg-center bg-no-repeat;
}

.glow-effect {
  box-shadow:
    0 0 10px #5b31fe80,
    0 0 20px #5b31fe80,
    0 0 30px #5b31fe80;
}
